.roads__slider-arrow {
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: var(--complementary-first-tint-color_theme_light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .6s ease;
  top: 110%;
}

.roads__slider-arrow:hover {
  opacity: .6;
}

.roads__slider-arrow:focus {
  outline: none;
}

.roads__slider-arrow:nth-child(1) {
  left: -2px;
}

.roads__slider-arrow:nth-child(2) {
  left: 72px;
}

@media screen and (max-width: 770px) {
  .roads__slider-arrow {
    width: calc(24px + (26 + 26 * .7) * (100vw - 320px) / 770);
    height: calc(24px + (26 + 26 * .7) * (100vw - 320px) / 770);
    background-size: 6px 11px;
    top: calc(58px + (12 + 12 * .7) * (100vw - 320px) / 770);
  }

  .roads__slider-arrow:nth-child(1) {
    left: calc(225px + (339 + 339 * .7) * (100vw - 320px) / 770);
  }

  .roads__slider-arrow:nth-child(2) {
    left: calc(261px + (375 + 375 * .7) * (100vw - 320px) / 770);
  }
}
