.roads__photo {
  width: 650px;
  max-height: 400px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 770px) {
  .roads__photo {
    width: calc(284px + (400 + 400 * .7) * (100vw - 320px) / 770);
    max-height: calc(175px + (225 + 225 * .7) * (100vw - 320px) / 770);
  }
}
