.bicycles__link {
  padding: 0;
  border: none;
  background-color: inherit;
  color: #222222;
  opacity: .7;
  cursor: pointer;
  transition: opacity .6s ease;
}

.bicycles__link:hover {
  opacity: .6;
}
