.bicycles__link {
  padding: 0;
  border: none;
  background-color: inherit;
  color: var(--basic-third-tint-color_theme_light);
  opacity: .7;
  cursor: pointer;
  transition: opacity .6s ease;
}

.bicycles__link:hover {
  opacity: .6;
}
