.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--basic-first-tint-color_theme_light);
  color: var(--basic-second-tint-color_theme_light);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: all .4s ease;
}

.page.noscroll {
  overflow: hidden;
}
