.roads__slider {
  margin: 0;
  padding: 83px 0 0;
  list-style-type: none;
  grid-area: slider;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  overflow: hidden;
}

.roads__slider:first-of-type {
  position: relative;
}

@media screen and (max-width: 770px) {
  .roads__slider {
    padding-top: calc(40px + (43 + 43 * .7) * (100vw - 320px) / 770);
    display: block;
  }

  .roads__slider > li:nth-child(2) {
    display: none;
  }
}
