.workout {
  display: grid;
  max-width: 1200px;
  grid-template-columns: minmax(200px, 460px) minmax(400px, 720px);
  column-gap: 160px;
  margin: 0 auto 120px;
  padding-top: 93px;
  grid-template-areas:
    'title image'
    '. image'
    'paragraph image'
    '. image'
    'apps image';
}

@media screen and (max-width: 320px) {
  .workout {
    max-width: 284px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'image'
      'paragraph'
      'apps';
    padding-bottom: 60px;
  }
}
