.section-title {
  max-width: 460px;
  font-size: 55px;
  line-height: calc(60 / 55 * 100%);
  letter-spacing: -.5px;
  font-weight: 700;
  margin: 60px 0 0;
  grid-area: title;
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 32px;
    line-height: calc(40 / 32 * 100%);
    max-width: 284px;
  }
}
