.header__menu {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding: 28px 120px 28px 0;
}

@media screen and (max-width: 522px) {
  .header__menu {
    display: none;
  }
  .header__menu_active {
    display: block;
    background-color:white;
    top: 62px;
    right: 0;
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 100%;
    border-radius: 25px;
    padding: 0;
  }
}


