.header__menu {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: calc(120 / 1440 * 100%);
}

@media screen and (max-width: 770px) {
  .header__menu {
    padding-right: calc(18 / 320 * 100%);
  }
}

@media screen and (max-width: 560px) {
  .header__menu {
    display: none;
  }
  
  .header__menu_active {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--basic-first-tint-color_theme_light);
    top: 70px;
    right: 0;
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}


