.section-paragraph {
  max-width: 460px;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
  font-style: normal;
  font-weight: 400;
  margin: 50px 0 0 0;
  grid-area: paragraph;
}

@media screen and (max-width: 320px) {
  .section-paragraph {
    font-size: 12px;
    line-height: 18px;
    margin: 41px 0 0 0;
    grid-area: paragraph;
    max-width: 284px;
  }
}