.bicycles__link_selected {
  color: var(--basic-second-tint-color_theme_light);
  font-weight: 600;
  opacity: 1;
  transition: opacity .7s ease;
}

.bicycles__link_selected:hover {
  opacity: .75;
}
