.bicycles__gallery-image {
  max-width: 340px;
  padding: 20px;
  object-fit: cover;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 770px) {
  .bicycles__gallery-image {
    max-width: calc(254.11px + (85.89 + 85.89 * .7) * (100vw - 320px) / 770);
    padding: calc(14.95px + (5.05 + 5.05 * .7) * (100vw - 320px) / 770);
    padding-bottom: calc(36.95px + (-16.95 - 16.95 * .7) * (100vw - 320px) / 770);
  }
}
