.ride__author-vocation {
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #222;
margin: 6px 0 0 0;
}

@media screen and (max-width: 320px) {
  .ride__author-vocation {
    font-size: 10px;
    line-height: 16px;
    margin-top: 4px;
  }
}
