.bicycles {
  max-width: 1200px;
  margin: 55px 120px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  'title . sidebar'
  'image image image';
}
