.ride__author-vocation {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(28 / 16 * 100%);
  color: var(--basic-third-tint-color_theme_light);
  margin: 9px 0 0 0;
  opacity: .7;
}

@media screen and (max-width: 320px) {
  .ride__author-vocation {
    font-size: 10px;
    line-height: calc(16 / 10 * 100%);
    margin-top: 4px;
  }
}
