.bicycles__gallery {
  display: none;
  margin: 0;
  padding: 117px 0 0;
  max-width: 1200px;
  grid-area: gallery;
}

@media screen and (max-width: 770px) {
  .bicycles__gallery {
    padding-top: 19px;
    padding-bottom: 27px;
    overflow: hidden;
  }
}
