.form__contact-email {
  border: var(--form-border_theme_light);
  background-color: var(--basic-fourth-tint-color_theme_light);
  color: var(--basic-second-tint-color_theme_light);
  border-radius: 4px;
  width: 339px;
  height: 46px;
  padding-left: 17px;
  font-size: 13px;
  line-height: calc(28 / 13 * 100%);
  transition: all .4s ease;
}

.form__contact-email:hover {
  cursor: pointer;
}

.form__contact-email:focus {
  outline: none;
  cursor: text;
  border: var(--form-border-focus_theme_light);
}

.form__contact-email::placeholder {
  font-family: 'Inter';
  color: var(--basic-third-tint-color_theme_light);
  font-weight: 500;
  font-size: 13px;
  line-height: calc(28 / 13 * 100%);
  opacity: .7;
  transition: all .4s ease;
}

.form__contact-email:hover::placeholder {
  color: var(--basic-second-tint-color_theme_light);
  opacity: 1;
}

.form__contact-email:focus::placeholder {
  color: transparent;
}

@media screen and (max-width: 770px) {
  .form__contact-email {
    width: calc(263px + (76 + 76 * .7) * (100vw - 320px) / 770);
  }
}
