.intro__bicycle-picture {
  width: 340px;
  height: 260px;
  padding: 20px 50px;
  background: #f4f4f4;
  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, .2));
  border-radius: 20px;
  position: sticky;
  z-index: 1;
  float: left;
  top: 420px;
  margin-bottom: 79px;
}

@media screen and (max-width: 1239px) {
  .intro__bicycle-picture {
    width: 40%;
    height: auto;
  }
 }

@media screen and (max-width: 770px) {
  .intro__bicycle-picture {
    width: 180px;
    height: 138px;
    padding: 10px 28px;
    margin-bottom: 37px;
  }
 }

