.footer__copyright {
  margin: 0;
  max-width: 123px;
  color: var(--complementary-third-tint-color_theme_light);
  font-weight: 600;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
}

@media screen and (max-width: 770px) {
  .footer__copyright {
    font-weight: 500;
  }
}
