.line {
  border-bottom: 1px #e3e3e3 solid;
  width: 284px;
  opacity: 0;
}

@media screen and (max-width: 320px) {
  .line {
    opacity: 1;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
  }
}
