.bicycles__gallery-image-caption {
  margin: 0;
  padding-top: 22px;
  padding-left: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
}

@media screen and (max-width: 770px) {
  .bicycles__gallery-image-caption {
    padding: 0;
    font-size: 14px;
    line-height: calc(18 / 14 * 100%);
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
  }
}
