 .intro__button {
  background-color: #24B47E;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  padding: 16px 0;
  margin: 50px 0 167px;
  color: #fff;
  width:180px
 }
