.intro__button {
  background-color: #24b47e;
  border-radius: 4px;
  text-align: center;
  border: none;
  padding: 16px 0;
  margin: 50px 0 152px;
  width: 180px;
  position: relative;
  overflow: hidden;
  grid-area: button;
}

.intro__button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #319e75;
  transition: 0.5s;
}

.intro__button:hover::before {
  left: 0;
}

@media screen and (max-width: 320px) {
  .intro__button {
    margin: 40px 0;
    width: 284px;
  }
}
