.intro {
  margin-top: 20px;
  margin-left: 120px;
  margin-left: calc(120/1440 * 100%);
  display: grid;
  grid-template-columns: minmax(200px, 460px) minmax(300px, 810px);
  column-gap: 50px;
  grid-template-areas:
    'title image'
    'paragraph image'
    'button image'
    'description image'
    '. image';
  position: relative;
}


@media screen and (max-width: 770px) {
  .intro {
    grid-template-areas:
      'title'
      'image'
      'paragraph'
      'button';
    margin-top: 0;
    margin-left: calc(18/320 * 100%);
    margin-right: calc(18/320 * 100%);
    grid-template-columns: 1fr;
    justify-items: end;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 0 18px;
  }
}
