.roads {
  padding-top: 73px;
  margin-bottom: 46px;
  max-width: 1320px;
  margin-left: calc(120/1440 * 100%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  'title'
  'paragraph'
  'slider';

}

@media screen and (max-width: 770px) {
  .roads {
    padding-top: 80px;
    margin-left: calc(18/320 * 100%);
    margin-right: calc(18/320 * 100%);
    grid-template-areas:
    'title'
    'slider'
    'paragraph';
  }
}
