.roads__vector {
  max-width: 100px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

@media screen and (max-width: 770px) {
  .roads__vector {
    max-width: calc(70px + (30 + 30 * .7) * (100vw - 320px) / 770);
    bottom: 18px;
  }
}
