.ride__title {
  font-weight: 600;
  font-size: calc(18px + 16 * (100vw / 1440));
  line-height: calc(44 / 34 * 100%);
  letter-spacing: -.5px;
  margin: 0;
}


@media screen and (min-width: 1440px) {
  .ride__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 770px) {
  .ride__title {
    line-height: calc(29 / 23 * 100%);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .ride__title {
    font-size: 23px;
  }
}
