.bicycles__links {
  margin: 0;
  padding: 0 0 9px;
  list-style-type: none;
  display: flex;
  column-gap: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18 * 100%);
  color: #222222;
  opacity: .7;
  align-self: flex-end;
  justify-self: flex-end;
}
