.ride {
  display: grid;
  max-width: 1200px;
  margin: 120px auto 60px;
  grid-template-columns: minmax(300px, 650px) minmax(300px, 470px);
  column-gap: 80px;
}

@media screen and (max-width: 320px) {
  .ride {
    display: block;
    max-width: 284px;
    padding-top: 20px;
    margin-top: 40px;
    position: relative;
  }
}
