.workout__apps {
  display: flex;
  justify-content: space-between;
  max-width: 152px;
  list-style: none;
  padding: 0 0 7px;
  margin: 0;
  grid-area: apps;
}

@media screen and (max-width: 974px) {
  .workout__apps {
    margin-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .workout__apps {
    max-width: 154px;
    justify-content: normal;
    column-gap: 30px;
  }
}
