.header__burger {
  display: none;
}

@media screen and (max-width: 561px) {
  .header__burger {
    display: block;
    width: 21px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: calc(19 / 320 * 100%);
  }
}

