@media screen and (max-width: 560px) {
  .header__burger-line {
    display: block;
    width: 22px;
    height: 4px;
    margin: 4px;
    /* stroke: var(--basic-third-tint-color_theme_light); */
    background-color: var(--basic-third-tint-color_theme_light);
    transition: 0.2s;
  }

  .header__burger.active .header__burger-line:nth-child(2) {
    opacity: 0;
  }
  .header__burger.active .header__burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header__burger.active .header__burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
