.header__items {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 522px) {
  .header__items {
    flex-direction: column;
    margin: 10px 0;
  }
}
