.intro__description {
  display: flex;
  max-width: 356px;
  align-items: center;
  justify-content: space-between;
  grid-area: description;
}

@media screen and (max-width: 770px) {
  .intro__description {
    display: none;
  }
}
